body {
    background-color: #e9eff5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    transition: transform 0.3s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.03);
}

.login-box {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.login-title {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1.5rem;
}

.form-group i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.form-control {
    padding-right: 35px; 
    padding-left: 15px;
    font-size: 0.875rem;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: none;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    font-size: 1rem;
    border-radius: 8px;
    padding: 8px;
}

.btn-outline-primary {
    background-color: transparent;
    border-color: #28a745;
    color: #28a745;
    font-size: 1rem;
    border-radius: 8px;
    padding: 8px;
}

.btn-primary:hover {
    background-color: #155724;
    border-color: #155724;
}

.btn-outline-primary:hover {
    background-color: #155724;
    color: #fff;
}

.illustration img {
    max-width: 100%;
    height: auto;
    max-height: 320px;
}

.small {
    font-size: 0.875rem;
}

/* Add margin between form groups */
.form-group {
    margin-bottom: 15px;
}

/* Adjust alignment of the checkbox and remember me text */
.custom-control {
    margin-bottom: 15px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #28a745;
    border-color: #28a745; 
}

.custom-control-input:checked ~ .custom-control-label::after {
    color: #fff; 
}

.custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.custom-control-input:hover ~ .custom-control-label::before {
    border-color: none;
    box-shadow: none
}

.custom-control-label {
    padding-top: 2px;
    font-size: 0.875rem;
}

/* "Lupa Password" */
.form-group a {
    font-size: 0.875rem;
    text-decoration: none;
    margin-bottom: 15px;
    color: #28a745 !important;
}

.fw-italic {
    font-style: italic;
}